* {font-family: 'Archivo Black', sans-serif;}

.header {
	font-size: 50px;
}

.background{
    background:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding: 35px;
    background-position: 0 50px;
}

.box-center {
	min-height: 300px;
    background-color: rgba(255, 255, 255, 0.63);
}

.btn-v30 {
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #a12222;
	padding: 20px 25px 20px 25px;
	text-decoration: none;
	outline: none !important;
	border: 0px;
}

.btn-v30:hover {
	background: #5c1111;
	text-decoration: none;
}

