/*** {font-family: 'Archivo Black', sans-serif;}*/

.header {
	font-size: 50px;
}

.background{
    background:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding: 25px;
}

.background1{
    background-color: white;
    padding: 35px;
    background-position: 0 50px;
}

.box-center {
	min-height: 300px;
    background-color: rgba(255, 255, 255, 0.63);
}

.btn-v30 {
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #a12222;
	padding: 20px 25px 20px 25px;
	text-decoration: none;
	outline: none !important;
	border: 0px;
}

.btn-v30:hover {
	background: #5c1111;
	text-decoration: none;
}

.frat-box{
	text-align: center;
	background:white;
	border:1px solid black;
	padding:10px;
	padding-bottom: 50;
}

.omega{
	border: 1px solid #ff871d;
    background: #fff4d5;
    color: #ff871d;
    text-shadow: 1px 1px rgba(218, 173, 45, 0.36);
}

.phi{
	border: 1px solid #9e001c;
    background: pink;
    color: #9e001c;
    text-shadow: 1px 1px rgba(255, 0, 0, 0.27);
}

.delta{
	order: 1px solid #3c87d6;
    background: #f1f5ff;
    color: #3c87d6;
    text-shadow: 1px 1px rgba(126, 151, 243, 0.27);
}

.kappa{
	border: 1px solid #118221;
    background: #f0fff5;
    color: #118221;
    text-shadow: 1px 1px rgba(61, 107, 63, 0.3);

}

.box{
	width: 49%;
    display: inline-block;
}

.animate-if {

}

.animate-if.ng-enter, .animate-if.ng-leave {
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
	opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
	opacity:1;
}