<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta charset="ISO-8859-1">
		<title>Project V30</title>
		
		<!-- CSS -->
		<link href="css/main.css" rel="stylesheet">
		<link href="components/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="components/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
		<!-- FONT -->
		<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
		<!-- JS Components-->
		<script src="components/jquery/jquery-3.1.1.js"></script>
		<script src="components/bootstrap/js/bootstrap.min.js"></script>
		<script src="components/angular/angular.min.js"></script>
		<script src="components/angular/angular-animate.min.js"></script>
		<script src="components/angular/angular-aria.min.js"></script>
		<script src="components/angular/angular-cookies.min.js"></script>
		<script src="components/angular/angular-loader.min.js"></script>
		<script src="components/angular/angular-message-format.min.js"></script>
		<script src="components/angular/angular-messages.min.js"></script>
		<script src="components/angular/angular-mocks.js"></script>
		<script src="components/angular/angular-parse-ext.min.js"></script>
		<script src="components/angular/angular-resource.min.js"></script>
		<script src="components/angular/angular-route.min.js"></script>
		<script src="components/angular/angular-sanitize.min.js"></script>
		<script src="components/angular/angular-scenario.js"></script>
		<script src="components/angular/angular-touch.min.js"></script>
		<!-- JS Main -->
		<script src="js/app.js"></script>
		<script src="js/directives.js"></script>
    	<script src="js/services.js"></script>
    	<script src="js/controller/MainController.js"></script>
	</head>
	<body class="background" style="margin-left:50px;margin-right:50px" ng-app="vtools" ng-controller="MainController">

		<!-- HEADER -->
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8  text-center">
				<div class="header" style="margin-top:30px">
					<font color="white">PROJECT</font> <font color="red">[V30]</font>
				</div>
				<div>
					<font color="white">"Una fiesta para ser recordada como leyenda"</font>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<!-- BOXES -->
		<div class="row" style="margin-top:40px;font-size: 28px;">

			<!-- SELECTOR -->
			<div class="col-xs-12 col-sm-12 col-md-6" style="margin-top:20px;">
				<div class="box-center" style="margin:30px;padding:20px">
					<p>ASIGNACIÓN DE FRATERNIDAD</p>
					<div style="font-size: 14px;">
						<p>Introduce tú primer apellido y el sistema te asignará a la fraternidad a propiada para ti</p>
					</div>
					<div style="margin-top:20px;"">
						<div class="form-group">
							<input ng-keypress="getFratKeyPress($event)" type="text" ng-model="surname" class="form-control" id="surname" placeholder="Introduce tú primer apellido">
						</div>
					</div>					
					<div class="text-center">
						<button type="button" class="btn-v30" ng-click="getFrat()">
							<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>

			<!-- FRATERNIDAD -->
			<div class="col-xs-12 col-sm-12 col-md-6" style="margin-top:20px;">
				<div class="box-center" style="margin:30px;padding:20px">
					
					<!-- Texto informativo sin seleccion-->
					<div ng-if="!showFrat">
						<p>FRATERNIDAD</p>
						<p style="font-size: 14px;">
							Utiliza el selector de fraternidad para ver a cual perteneces
						</p>
					</div>
					
					<!-- Mostramos la parte de las fraternidades-->
					<div ng-if="showFrat" class="animate-if">

						<!-- Texto comun-->
						<div ng-if="frat != '7'" style="font-size: 14px; margin-bottom:30px">
							<p>
								Defiende tu escudo en la gran batalla de las fraternidades, tú fraternidad es...
							</p>
						</div>

						<!-- FRATERNIDADES -->	
						<div ng-if="frat === '1'" class="frat-box omega">
							<div style="font-size:70px">&Omega;&Mu;</div>
							<p style="font-size:12px">(OMEGA MU)</p><!-- NEGRO  GRIS-->
						</div>
						<div ng-if="frat === '2'" class="frat-box phi">
							<div style="font-size:70px">&Phi;&Chi;</div>
							<p style="font-size:12px">(PHI CHI)</p><!--ROSA ROJO-->
						</div>
						<div ng-if="frat === '3'" class="frat-box delta">
							<div style="font-size:70px">&Delta;&Theta;</div>
							<p style="font-size:12px">(DELTA THETA)</p> <!-- AZUL BLANCO -->
						</div>
						<div ng-if="frat === '4'" class="frat-box kappa">
							<div style="font-size:70px">&Kappa;&Sigma;</div>
							<p style="font-size:12px">(KAPPA SIGMA)</p> <!-- VERDE MARRON -->
						</div>
						
						<!-- TODOS -->
						<div ng-if="frat === '6'">
							<div ng-repeat="(key, value) in listUser">
								<div style="font-size:9px" >{{key}} : {{value}}</div>
	    					</div>
						</div>

						<!-- NO ENCONTRADO -->
						<div ng-if="frat === '7'">
							Opss, el sistema no te reconoce, contacta con el administrador para solventar el problema
						</div>
					</div>
				</div>
			</div>

			<!-- INFO -->
			<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:20px;">
				<div class="box-center" style="margin:30px;padding:20px">
					<p>CONDICIONES DE USO</p>
					<div style="font-size: 14px;">
						<p>Traed ropa que no os importe manchar</p>
						<p>Ganas de divertirse y pasarlo en grande</p>
						<p>Fecha: 18 de marzo a las 23:30</p>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>